@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Oswald|Arimo|Playfair+Display+SC:900&subset=latin-ext');
.brand{
  font-family: "Playfair Display SC",serif;
  font-size: xx-large;
}
p {
  font-family: "Arimo",sans-serif;
}
body {
  margin-top:2em;
  background-color: #23234b;
  color: white;
}
header{
  max-width: 70em;
}
.bottom {
    border-bottom: 1px solid #ccc;
}
a{
  color:white;
  font-family: "Arimo",sans-serif;
}
a:hover {
  text-decoration: none;
  color: white;
}
.playfair{
  font-family: "Playfair Display SC",serif;
}
.oswald,h3{
  font-family: "Oswald",sans-serif;
}
.blog-title{
  text-align: left;
}
.blog-items{
  max-width: 50em;
  justify-content:center;
}
.post-content{
  max-width: 35em;
  background-color: #f9f9f9;
  padding:1em;
  border-radius: 20px;
}
img{
  display: block;
  margin:0 auto;
  width: 50%;
}
.contact{
  margin-bottom: 5em;
}
.twt{
  margin:3em;
  color: white;
}
.post-date {
  color:lightgray;
  font-size: small;
}
.post-tags {
  color:grey;
  font-size: small;
}
.flex-container{
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  max-width: 80em;
  margin:2em auto;
  justify-content:center;
}
.feature {
  /*max-width: 35em;*/
  flex-basis:20em;
  display: flex;
  flex-flow: column wrap;
  align-self: flex-start;
  flex-grow: 0;
  background-color: #efefef;
  box-shadow:inset 2px 2px 10px -5px;
  border-radius: 50px;
  justify-content:center;
  min-height:15em;
  color:black;
}
.feature:hover {
  box-shadow:inset 2px 2px 50px -15px ;
}
.headline-feature{
  /*max-width: 35em;*/
  flex-basis:30em;
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  flex-grow: 0;
  background-color: #1a1938;
  border-radius: 50px;
  padding: 4em;
  justify-content:center;
  min-height:20em;
  margin: 2em;
}
.headline-feature p{
  font-family: "Oswald", sans-serif;
  font-size: medium;
}
.headline-feature h2{
}

.headline-feature-detail{
  /*max-width: 35em;*/
  flex-basis:30em;
  display: flex;
  flex-flow: column wrap;
  align-self: center;
  flex-grow: 0;
  justify-content:center;
  min-height:20em;
  margin: 2em;

}

.double {
  flex-basis:70em;
}
.grower{
  flex-grow: 1;
}
.pullup {
  -ms-transform: translate(0, -4em); /* IE 9 */
  -webkit-transform: translate(0, -4em); /* Safari */
  transform: translate(0, -4em);
}
.flex-item{
  margin:1em;
  padding:15px;
  order: 1;
}
.icon{
  margin: 0.5em;
  padding: 0.5em;
  flex-basis: 10em;
  max-width: 512px;
}
.icon img{
  border-radius: 15px;
  box-shadow: rgba(129, 127, 127, 0.34) 2px 5px 5px;
}
.icon img:hover{
  box-shadow: rgb(255, 255, 255) 2px 5px 25px;
}
.feature-script{
  font-family: "Roboto Condensed",serif;
  font-size: large;
  text-align: justify;
  padding:1em;
  max-width: 25em;
}
.feature h2{
  color: white;
  text-shadow: #030303 2px 4px 6px;
}

.collage{
  width: 100% !important;
  height: 42em;
  position: relative;
  flex-basis:70em;
  display: flex;
  flex-flow: column wrap;
  align-self: flex-start;
  flex-grow: 0;

  justify-content:center;
  min-height:20em;
  color:black;
}
.collage video{
  width: 100%;
  height: 100%;
  margin-left: -1em;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.deathmatch {
  background: url("img/deathmatch.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  color: white;
  text-align: center;
}
.deathmatch:hover {
  cursor: pointer;
  box-shadow:inset 2px 2px 50px -15px white;
}
.dragon{
  background: url("img/dragon2.png")  center fixed;
  width: 20em;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.alphabet{
  background: url("img/alphabet2.png") center center fixed;
  width: 20em;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.guitar{
  background: url("img/guitar2.png")center center fixed;
  width: 20em;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.seesaw{
  background: url("img/seesaw2.png")  center center fixed;
  width: 20em;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}

.bricks{
  background: url("img/bnb.png")center center fixed;
  width: 20em;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}

.printer{
  background: url("img/printer2.png")  center center fixed;
  width: 20em;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}


.calculator{
  background: url("img/calculator.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.markdown{
  background: url("img/markdown.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.badminton{
  background: url("img/badminton.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.exercise{
  background: url("img/exercise.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.habit{
  background: url("img/habit.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.pomodoro{
  background: url("img/pomodoro.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.simon{
  background: url("img/simon.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.ttt{
  background: url("img/ttt.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.chuck{
  background: url("img/chuck.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.wikia{
  background: url("img/wiki.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.gears{
  background: url("img/gears.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.phandelver{
  background: url("img/phandelver.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.twitch{
  background: url("img/twitch.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.weatherapp{
  background: url("img/weather.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.interactiveStory{
  background: url("img/fire.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.meteorVoid{
  background: url("img/meteorvoid.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
.fcc{
  background: url("img/fcc.jpg") no-repeat center center fixed;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
/* Style for the lightbox container */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
}

/* Style for the lightbox content */
.lightbox-content {
  position: absolute;
  width: 55em;
  height: 80em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;

}

/* Style for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

/* Style for the iframe */
#video-frame {
  width: 100%;
  height: 100%;
}

/* Hide scrollbar when the lightbox is open */
body.lightbox-open {
  overflow: hidden;
}
